@using MyCV.Models.Entity
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>
<form method="post">

    @foreach (var item in Model)
    {

        <label>FirstName</label>
        <input class="form-control" name="FirstName" value="@item.FirstName" /><br />
        <label>LastName</label>
        <input class="form-control" name="LastName" value="@item.LastName" /><br />
        <label>Address</label>
        <input class="form-control" name="Address" value="@item.Address" /><br />
        <label>Mail</label>
        <input class="form-control" name="Mail" value="@item.Mail" /><br />
        <label>Phone</label>
        <input class="form-control" name="Phone" value="@item.Phone" /><br />
        <label>Foto</label>
        <input class="form-control" name="Foto" value="@item.Foto" /><br />
        <label>Title</label>
        <textarea rows="1" class="form-control" name="Title">@item.Title</textarea>
        <label>Explanation</label>
        <textarea rows="3" class="form-control" name="Explanation">@item.Explanation</textarea>
    }
    <br />
    <button class="btn btn-success"> Save </button>

</form>
