@using MyCV.Models.Entity
@model List<SocialMedia>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!DOCTYPE html>
<html>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">



        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-title">My Social Media List</h2>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#Modal1"> Add New Social Media</button> <br /> <br />
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">ID</th>
                                            <th>Name</th>
                                            <th>Link</th>
                                           <th>Icon</th>
                                           <th>State</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            
                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@item.Name</td>
                                                <td>@item.Link</td>                                                                                                 
                                                <td>@item.Icon</td>
                                                <td>@item.State</td>
                                               
                                                <td> <a href="/SocialMedia/UpdateSocialMedia/@item.Id" class="btn btn-info btn-sm"> <i class="fas fa-pencil-alt"></i>Edit</a></td>
                                                <td><a href="/SocialMedia/DeleteSocialMedia/@item.Id" class="btn btn-danger btn-sm"> <i class="fas fa-trash"></i> Delete </a></td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                           
                        </div>

                    </div>


                </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->

        <div class="modal" id="Modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title"> Adding a Social Media Panel </h2>
                    </div>
                    <form method="post" action="/SocialMedia/Add/">
                        <div class="modal-body">
                            <label> Social Media Name</label>
                            <input type="text" name="Name" class="form-control" />
                            <br />
                            <label> Social Media Link</label>
                            <input type="text" name="Link" class="form-control" />
                            <br />
                            <label> Social Media Icon</label>
                            <input type="text" name="Icon" class="form-control" />
                            <br />
                            <label> Social Media State</label>
                            <input type="text" name="State" class="form-control" />
                            <br />
                            <button class="btn btn-info"> SAVE </button>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>


